---
---

<section>
    <h2>Blog</h2>
    <p>
      Hola, soy un joven desarrollador web que busca seguir aprendiendo para
      ampliar sus horizontes. Me apasiona la música, el café y la tecnología.
      Gracias por el apoyo. Hola, soy un joven desarrollador web que busca
      seguir aprendiendo para ampliar sus horizontes. Me apasiona la música, el
      café y la tecnología. Gracias por el apoyo. Hola, soy un joven
      desarrollador web que busca seguir aprendiendo para ampliar sus
      horizontes. Me apasiona la música, el café y la tecnología. Gracias por el
      apoyo.
    </p>
</section>

<style>
  section {
    margin: 124px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  
</style>
