---

---

<section>
  <div>
    <h2>Sobre mí
</h2>
    <p>
      ¡Ey! Soy Dylan, un <a href="/companies" class="link">emprendedor</a> y desarrollador de software colombiano apasionado por el <a href="/blog" class="link">blogging</a>, <a href="">aprendizaje autodidacta</a> y el cáfe frío. Mi proyecto principal es <a href="" class="link">Horizon</a>. Una agencia de capital privado enfocada en apoyar el crecimiento de empresas y start-ups. Además, me encuentro desarrollando una línea de microservicios para empresas y desarrolladores.
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  section div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
