---
import companies from "../info/companies";
---

<section>
  <h2>Mis compañías</h2>
  <ul>
    {
      companies.slice(0, 6).map((info) => {
        return (
          <li>
            <a href={info.url} target="_blank" class="">
              <figure>
                <img src={info.photo} alt={info.name} class="" />
              </figure>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  section ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
  }

  section ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:32px 0;
    background-color: #faf9fb;
    border-radius: 8px;
    width: 314px;
  }

  section ul li:hover {
    background-color: #f2eff3;
  }

  section ul li a figure img {
    height: 40px;
  }
</style>
