<section>
  <div>
    <h2>Suscríbete a mi Newsletter</h2>
    <p>Mantente al día con articulos sobre emprendimiento y tecnologia</p>
  </div>
  <form action="#" method="post">
    <input
      type="email"
      name="email"
      placeholder="Tu correo electrónico"
      required
    />
    <button type="submit">→</button>
  </form>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }

  section form {
    border: 1px solid #000000;
    width: fit-content;
    border-radius: 8px;
  }

  section form input[type="email"] {
    padding: 0 24px;
    width: 250px;
    font-size: var(--pFontSize);
  }

  section button {
    padding: 14px 24px;
    background: var(--primary);
    color: var(--lightTextColor);
    border: none;
    cursor: pointer;
    font-size: var(--pFontSize);
    border-radius:0 8px 8px 0;
  }
</style>
