---

---

<section>
  <h1>DYLAN PEÑA</h1>
  <h3>Emprendedor y Desarrollador de Software</h3>
</section>

<style>
  section {
    margin: 314px 0 188px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
</style>
