---

---

<section>
  <div>
    <h2>Sobre mi</h2>
    <p>
        Hola, soy un joven desarrollador web que busca seguir aprendiendo para ampliar sus horizontes. Me apasiona la música, el café y la tecnología. Gracias por el apoyo. Hola, soy un joven desarrollador web que busca seguir aprendiendo para ampliar sus horizontes. Me apasiona la música, el café y la tecnología. Gracias por el apoyo. Hola, soy un joven desarrollador web que busca seguir aprendiendo para ampliar sus horizontes. Me apasiona la música, el café y la tecnología. Gracias por el apoyo.
    </p>
  </div>
</section>

<style>
  section {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  section div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
