---
---

<section>
    <h2>Compañías</h2>
    <p>
      Como emprendedor, he cultivado un portafolio diverso de compañías que reflejan mi visión y compromiso con la innovación y el crecimiento. Cada una de estas empresas ha sido seleccionada cuidadosamente, no solo por su potencial de rentabilidad, sino también por su capacidad para generar un impacto positivo en la sociedad. A continuación, les invito a explorar en detalle cada una de estas empresas y descubrir cómo están transformando sus respectivos sectores.
    </p>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  
</style>
