---
import companies from "../../info/companies";
---

<section> 
  <ul id="cardsContainer">
    {
      companies.map((info) => {
        return (
          <ul class="timelineItem">
            <div class="timelineBullet">&bull;</div>
            <div class="timelineContent">
              <div class="companieTop">
                <a href={info.url} target="_blank" class="link">
                  <h2>{info.name}</h2>
                </a>
                <p class="tag tagCompanies">{info.position}</p>
              </div>    
                <p>{info.description}</p>
            </div>
          </ul>
        );
      })
    }
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .timelineItem {
    position: relative;
    margin-bottom: 64px;
  }

  .timelineItem::before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0;
    height: calc(100% + 64px);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 768px) {
    .timelineItem {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 3.75rem;
      align-items: start;
    }
  }

  .timelineBullet {
    position: absolute;
    left: 0.15rem;
    top: -0.10rem;
    font-size: 36px;
    color: var(--primary);
  }

  .timelineContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 2.5rem;
  }

  .timelineContent ul {
    display: flex;
    gap: 8px;
    list-style: none;
  }

  .companieTop {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .companieTop a figure img {
    height: 32px;
  }
</style>
