---
import "@fontsource-variable/onest";
import Header from "../components/ui/Header.astro";
import Footer from "../components/ui/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div id="background"></div>
    <div id="body">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --siteMaxWidth: 960px;
    --primary: #252525;
    --textColor: #505050;
    --titleTextColor: #252525;
    --lightTextColor: #ffffff;
    --backgroundColor: #ffffff;
    --backgroundGradient: radial-gradient(
      100% 50% at 50% 0%,
      #00a3ff21 0,
      rgba(0, 163, 255, 0) 50%,
      rgba(0, 163, 255, 0) 100%
    );
    --buttonHoverBackground: #000000;
    --h1FontSize: 80px;
    --h2FontSize: 32px;
    --h3FontSize: 24px;
    --h4FontSize: 16px;
    --pFontSize: 16px;
  }

  /*Gerenal*/
  * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
    transition: ease 0.3s;
  }

  .link:hover {
    text-decoration: underline;
  }

  .containedButton {
    padding: 8px 30px;
    background-color: var(--primary);
    color: var(--lightTextColor);
    border-radius: 8px;
  }

  .containedButton:hover {
    background-color: var(--buttonHoverBackground);
  }

  .textButton {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: ease 0.3s;
  }

  .textButton:hover {
    gap: 8px;
  }

  h1 {
    font-size: var(--h1FontSize);
    color: var(--titleTextColor);
  }

  h2 {
    font-size: var(--h2FontSize);
    color: var(--titleTextColor);
  }

  h3 {
    font-size: var(--h3FontSize);
    color: var(--titleTextColor);
  }

  h4 {
    font-size: var(--h4FontSize);
    color: var(--titleTextColor);
  }

  p {
    font-size: var(--pFontSize);
    line-height: 1.5;
  }

  /*Layout*/
  ::selection {
    background-color: #ffff00; 
  }

  html {
    font-family: "Onest variable", sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;
    scrollbar-color: #d9d9d9;
    scrollbar-width: thin;
    color: var(--textColor);
  }

  body {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  #body {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: var(--siteMaxWidth);
  }

  #background {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    background-image: var(--backgroundGradient);
    background-repeat: no-repeat;
  }
</style>
