---

---

<section>
  <h2>Eventos</h2>
  <p>
    Mi compromiso con la innovación y el crecimiento no se limita a la creación
    de empresas. A lo largo de mi trayectoria, he participado activamente en una
    variedad de eventos que me han permitido compartir conocimientos, conectar
    con otros líderes de la industria y contribuir al desarrollo del ecosistema
    emprendedor. A continuación, le invito a explorar algunos de los eventos más
    destacados en los que he tenido el privilegio de participar o participare.
  </p>
</section>

<style>
  section {
    margin: 124px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
