---

---

<footer>
  <div id="fotterItemsContainer">
    <article id="footerTopContainer">
      <h2>Dylan Peña</h2>
      <div id="footerTop">
        <ul>
          <li>
            <h4>Redes</h4>
          </li>
          <li><a href="" class="link">Instagram</a></li>
          <li><a href="" class="link">TikTok</a></li>
          <li><a href="" class="link">YouTube</a></li>
        </ul>
        <ul>
          <li>
            <h4>Secciones</h4>
          </li>
          <li><a href="" class="link">Inicio</a></li>
          <li><a href="" class="link">Proyectos</a></li>
          <li><a href="" class="link">Blogs</a></li>
        </ul>
        <ul>
          <li>
            <h4>Compañias</h4>
          </li>
          <li>
            <a href="" class="link">Horizon</a>
          </li>
          <li>
            <a href="" class="link">Betteru</a>
          </li>
          <li>
            <a href="" class="link">MakeCode</a>
          </li>
          <li>
            <a href="" class="link">Supremacy</a>
          </li>
          <li>
            <a href="" class="link">CoderLabs</a>
          </li>
          <li>
            <a href="" class="link">ContentCraft</a>
          </li>
          <li>
            <a href="" class="link">Rise</a>
          </li>
        </ul>
        <ul>
          <h4>Contactame</h4>
          <li>
            <a href="" class="link">+57 301 330 4134</a>
          </li>
          <li>
            <a href="" class="link">dylanp.arango12@gmial.com</a>
          </li>
        </ul>
      </div>
    </article>
    <hr>
    <span>
      <p>Copyright © Dylan Peña</p>
    </span>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid #d9d9d9;
    padding: 32px 0;
  }

  #fotterItemsContainer {
    margin: 0 auto;
    max-width: var(--siteMaxWidth);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  footer hr {
    border: 0.1px solid #6b728010;
  }

  #footerTopContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #footerTopContainer h2 {
    font-size: 24px;
  }

  #footerTop {
    display: flex;
    gap: 64px;
  }

  #footerTop ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  footer article ul {
    display: flex;
    gap: 24px;
    list-style: none;
  }

  @media only screen and (max-width: 900px) {
    footer {
      padding: 16px;
    }
  }

  @media only screen and (max-width: 768px) {
    #footerTopContainer {
      flex-direction: column;
      gap: 32px;
    }

    #footerTop {
      flex-direction: column;
      gap: 32px;
    }

    footer article ul {
      flex-direction: column;
  }
</style>
