---

---

<header id="header">
  <nav>
    <ul>
      <li><a class="link" href="">Inicio</a></li>
      <li><a class="link" href="">Proyectos</a></li>
      <li><a class="link" href="">Blog</a></li>
    </ul>
  </nav>
  <h2 id="logo">DYLAN PEÑA</h2>
  <div id="buttonContainer">
    <a class="containedButton" href="">Newsletter</a>
  </div>
</header>

<style>

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  #logo {
    font-family: serif;
    font-size: 24px;
  }

  #buttonContainer {
    width: 181.33px;
    display: flex;
    justify-content: end;
  }
</style>
