---

---

<header id="header">
  <div>
    <h2 id="logo">Dylan Peña</h2>
    <nav>
      <ul>
        <li><a class="link" href="/#">Inicio</a></li>
        <li><a class="link" href="/companies">Compañías</a></li>
        <li><a class="link" href="/events">Eventos</a></li>
        <li><a class="link" href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div id="buttonContainer">
      <a id="neswletterBtn" class="containedButton" href="#newsletter">Newsletter</a>
    </div>
  </div>
</header>

<style>
  #header {
    padding: 16px 0;
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--siteMaxWidth);
  }

  nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  #logo {
    font-size: 24px;
  }

  #buttonContainer {
    width: 181.33px;
    display: flex;
    justify-content: end;
  }
</style>

<script is:inline>

  scrollUpBtn.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>