---

---

<header id="header">
  <h2>Dylan Peña</h2>
  <nav>
    <ul>
      <li><a class="link" href="">Inicio</a></li>
      <li><a class="link" href="">Proyectos</a></li>
      <li><a class="link" href="">Blog</a></li>
    </ul>
  </nav>
  <a class="containedButton" href="">Newsletter</a>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
  }

</style>